### 1. Print numbers from 1 to 10 using a for loop

In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 2. Print all even numbers between 1 and 20 using a for loop

In [5]:
for num in range(0,21,2):
    print(num)

0
2
4
6
8
10
12
14
16
18
20

### 3. Print each character of the string 'Python' using a for loop

In [6]:
string = "Python"
for ch in string:
    print(ch)

P
y
t
h
o
n

### 4. Print the squares of numbers from 1 to 5 using a for loop

In [7]:
for num in range(1,6):
    print(num**2)

1
4
9
16
25

### 5. Print all elements of a list using a for loop

In [8]:
lst = [1,2,3,4]
for i in lst:
    print(i)

1
2
3
4

### 6. Calculate the sum of numbers from 1 to 50 using a for loop

In [12]:
count=0
for i in range(1,51):
    count+=i
    print(count)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275

### 7. Print numbers from 10 to 1 in reverse using a for loop

In [14]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### 8. Print the multiplication table of 7 using a for loop

In [16]:
for num in range(1,11):
    print("7x",num,"=",7*num)

7x 1 = 7
7x 2 = 14
7x 3 = 21
7x 4 = 28
7x 5 = 35
7x 6 = 42
7x 7 = 49
7x 8 = 56
7x 9 = 63
7x 10 = 70

### 9. Count how many vowels are in the string 'education' using a for loop

In [17]:
word="education"
vowels = "aeiou"
count=0
for i in word:
    if i in vowels:
        count+=1
print(count)

5

### 10. Print all odd numbers from 1 to 30 using a for loop

In [18]:
for i in range(1,31,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### 11. Count how many uppercase letters are in a string using a for loop

In [24]:
string = "AbcDeFGhi"
count = 0
for ch in string:
    if ch.isupper():
        count+=1
print(count)

4

### 12. Create a new list that contains only the positive numbers from another list

In [25]:
lst1=[1,2,3,-1,-2,-3]
lst2=[]
for num in lst1:
    if num>0:
        lst2.append(num)
print(lst2)

[1, 2, 3]

### 13. Print numbers from 1 to 10 using a while loop

In [27]:
count = 1
while count<=10:
    print(count)
    count+=1

1
2
3
4
5
6
7
8
9
10

### 14. Print all multiples of 5 up to 50 using a while loop

In [30]:
count = 5
while count<=50:
    print(count)
    count+=5

5
10
15
20
25
30
35
40
45
50

### 15. Print numbers from 10 to 1 in reverse using a while loop

In [31]:
count = 10
while count>=1:
    print(count)
    count+=-1

10
9
8
7
6
5
4
3
2
1

### 16. Keep asking the user to enter numbers until the user enters 0

In [34]:
num = int(input("Enter a number:"))
while num!=0:
    print("You Entered:",num)
    num = int(input("Enter a number:"))
print("You Entered 0")

You Entered: 3
You Entered: 4
You Entered: 5
You Entered 0

### 17. Use a while loop to calculate the sum of the first 10 natural numbers

In [41]:
count = 1
total = 0
while count<=10:
    total+=count
    count+=1
print("Sum==" , total)

Sum== 55

### 18. Given a dictionary of fruits and their prices, print all the keys using a for loop

In [53]:
dict = {"Apple":40, "Banana":50, "Orange":30}
for key in dict.keys():
    print(key)

Apple
Banana
Orange

### 19. Given a dictionary of fruits and their prices, print all the values using a for loop

In [51]:
dict = {"Apple":40, "Banana":50, "Orange":30}
for value in dict.values():
    print(value)

40
50
30

### 20. Print both keys and values of a dictionary using a for loop

In [58]:
dict = {"Apple":40, "Banana":50, "Orange":30}
for key,value in dict.items():
    print(f"key:{key},value:{value}")

key:Apple,value:40
key:Banana,value:50
key:Orange,value:30

### 21. Count how many keys are in a dictionary using a for loop

In [70]:
count=0
dict = {"Apple":40, "Banana":50, "Orange":30}
for key in dict.keys():
    count+=1
print(count)

3

### 22. Create a dictionary and print only the keys that start with the letter 'a'

In [72]:
dict = {"Apple":40, "Banana":50, "Orange":30}
for i in dict.keys():
    if i.startswith("A"):
        print(i)

Apple

### 23. Given a dictionary of student names and marks, print only the students who scored more than 80

In [75]:
dict = {"Aditi":80,"Tanmayee":85,"Aakanksha":90,"Ruchi":70}
for key,value in dict.items():
    if value>80:
        print(key)

Tanmayee
Aakanksha

### 24. Given a dictionary, print the sum of all the values using a for loop

In [77]:
dict = {"Aditi":80,"Tanmayee":85,"Aakanksha":90,"Ruchi":70}
count = 0
for value in dict.values():
    count+=value
print(count)

325

### 25. Given a dictionary, find the key with the highest value using a for loop

In [82]:
dict = {"Aditi":80,"Tanmayee":85,"Aakanksha":90,"Ruchi":70}
for key, value in dict.items():
    print(max(dict.values()))

90
90
90
90

### 26. Convert all dictionary keys into a list using a for loop

In [89]:
dict = {"Aditi":80,"Tanmayee":85,"Aakanksha":90,"Ruchi":70}
lst =[]
for key in dict.keys():
    lst.append(key)
print(lst)

['Aditi', 'Tanmayee', 'Aakanksha', 'Ruchi']

### 27. Create a dictionary of 5 words and their lengths, then print each word and its length using a for loop

In [94]:
# dict = {"Aditi":5,"Tanmayee":8,"Aakanksha":9,"Ruchi":5}
dict = {"Aditi":len("Aditi"),"Tanmayee":len("Tanmayee"),"Aakanksha":len("Aakanksha"),"Ruchi":len("Ruchi")}
for key, value in dict.items():
    print(key,"length is:",value)

Aditi length is: 5
Tanmayee length is: 8
Aakanksha length is: 9
Ruchi length is: 5

### 28. Given a list of numbers, print only numbers greater than 10

In [96]:
lst = [1,20,10,30,4,3,5,60]
for i in lst:
    if i>10:
        print(i)

20
30
60

### 29. Count how many elements in a list are integers using a for loop

In [104]:
lst = [-1,20,"a",30,-4,3,-5,"b"]
count = 0
for i in lst:
    if isinstance(i,int):
        count+=1
print(count)

6

### 30. Print the sum of all even numbers in a list using a for loop

In [109]:
lst = [1,2,3,4,5,6,7,8,9]
total=0
for i in lst:
    if i%2==0:
        total+=i
print(total)

20

### 31. Print the cube of each number in a list of 5 numbers

In [110]:
lst = [1,2,3,4,5]
for i in lst:
    print(i**3)

1
8
27
64
125

### 32. Print each word in the sentence 'Python is fun' using a for loop

In [111]:
string = "Python is fun"
for word in string.split():
    print(word)

Python
is
fun

### 33. Print the first 5 multiples of 3 using a for loop

In [112]:
for i in range(1,6):
    print(i*3)

3
6
9
12
15

### 34. Print only names that start with 'A' from a list of names

In [113]:
lst = ["Aditi","Tanmayee","Aakanksha","Ruchi"]
for i in lst:
    if i.startswith("A"):
        print(i)

Aditi
Aakanksha

### 35. Find the largest number in a list using a for loop

In [115]:
lst = [1,3,2,5,4,7,6]
for i in lst:
    print(max(lst))
    break

7

### 36. Print the index and value of each element in a list

In [121]:
lst = ["Aditi","Tanmayee","Aakanksha","Ruchi"]
for index in range(len(lst)):
    print(index, lst[index])

0 Aditi
1 Tanmayee
2 Aakanksha
3 Ruchi

### 37. Create a dictionary with 5 students and their marks

In [123]:
dict = {"Aditi":80,"Tanmayee":85,"Aakanksha":90,"Ruchi":70}
dict

{'Aditi': 80, 'Tanmayee': 85, 'Aakanksha': 90, 'Ruchi': 70}

### 38. Use a for loop to print all student names

In [124]:
for key in dict:
    print(key)

Aditi
Tanmayee
Aakanksha
Ruchi

### 39. Given a dictionary of fruits and prices, use a for loop to print each fruit and its price

In [129]:
dict = {"Apple":40, "Banana":50, "Orange":30}
for key , value in dict.items():
    print(key,value)

Apple 40
Banana 50
Orange 30

### 40. Create a dictionary of 5 products and their prices. Increase every product's price by 10% using a for loop

In [ ]:
products = {"chair": 2000,"table": 3000,"fridge": 10000,"TV": 20000,"sofa": 15000}

for key in products:
    inc = products[key] * (10 / 100)  
    products[key] = int(products[key] + inc) 

print(products)

{'chair': 2200, 'table': 3300, 'fridge': 11000, 'TV': 22000, 'sofa': 16500}

### 41. Given a dictionary of 10 items, delete all items whose value is less than 50 using a for loop

In [155]:
products = {"chair": 200,"table": 30,"fridge": 100,"TV": 20,"sofa": 150,"bed": 18,"fan": 25,"lamp": 12,"mixer": 35,"oven": 80}
for key,value in list(products.items()):
    if value<50:
        products.pop(key)
print(products)

{'chair': 200, 'fridge': 100, 'sofa': 150, 'oven': 80}

### 42. Create a dictionary of subjects and marks. Add a new subject and mark. Then use a for loop to print all updated keyâ€“value pairs

In [161]:
marks = {"Math": 88,"Science": 92,"English": 85,"History": 79,"Computer": 95}
marks["Marathi"]=89

for sub in marks:
    print(sub, ":", marks[sub])

Math : 88
Science : 92
English : 85
History : 79
Computer : 95
Marathi : 89

### 43. Given a dictionary of names and ages, add 1 year to every age using a for loop

In [164]:
ages = {"Rahul": 21,"Sneha": 19,"Arjun": 23,"Aditi": 20,"Rohan": 22}
for key in ages: 
    ages[key] = ages[key] + 1
ages

{'Rahul': 22, 'Sneha': 20, 'Arjun': 24, 'Aditi': 21, 'Rohan': 23}

### 44. Print numbers from 0 to 9 using range()

In [166]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### 45. Print numbers from 5 to 15 using range()

In [168]:
for i in range(5,16):
    print(i)

5
6
7
8
9
10
11
12
13
14
15

### 46. Print numbers from 1 to 20 with a step of 2 using range()

In [169]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

### 47. Print the length of a given list using len()

In [176]:
lst = [10, 20, 30, 40, 50]

print(len(lst))

5

### 48. Print the length of a given string using len()

In [177]:
string="abdsgfksk"
print(len(string))

9

### 49. Use range() and len() to iterate over a list by index and print each element

In [180]:
lst = ["Apple", "Banana","Orange", "Pineapple"]
for i in range(len(lst)):
    print(i, lst[i])

0 Apple
1 Banana
2 Orange
3 Pineapple

### 50. Print the sum of numbers from 1 to 100 using range()

In [185]:
total=0
for i in range(1,101):
    total+=i
print(total)

5050