List Operations

In [173]:
lst = [1, "Aditi", 2, 1]

In [28]:
type(lst)

list

In [29]:
lst.index("Aditi")

1

In [30]:
lst.append("Kale")

In [31]:
lst.copy()

[1, 'Aditi', 2, 1, 'Kale']

In [33]:
lst.count(1)

2

In [34]:
lst1=[2,"Tanmayee",2,3]

In [35]:
lst1.append("Patil")

In [36]:
lst1

[2, 'Tanmayee', 2, 3, 'Patil']

In [39]:
lst.insert(3,7)

In [40]:
lst

[1, 'Aditi', 2, 7, 1, 'Kale']

In [41]:
lst.extend(lst1)

In [42]:
lst

[1, 'Aditi', 2, 7, 1, 'Kale', 2, 'Tanmayee', 2, 3, 'Patil']

In [43]:
lst.pop(3)

7

In [44]:
lst

[1, 'Aditi', 2, 1, 'Kale', 2, 'Tanmayee', 2, 3, 'Patil']

In [45]:
lst.remove(2)

In [ ]:
lst

[1, 'Aditi', 1, 'Kale', 2, 'Tanmayee', 2, 3, 'Patil']

In [12]:
print(lst2.reverse())

None

In [13]:
lst2

[9, 7, 5, 4, 3, 1]

In [5]:
lst2=[1,5,3,7,9,4]

In [8]:
print(lst2.sort())

None

In [9]:
lst2

[1, 3, 4, 5, 7, 9]

Tuple Operations

In [57]:
tup = (1,3,2,5,4,7,6)

In [58]:
tup.count(2)

1

In [59]:
tup.index(5)

3

Set Operations

In [15]:
ts = {20, 40, "World", 40}

In [16]:
ts1 ={1,2,3,40}

In [18]:
print(ts)
ts1

{40, 'World', 20}

{1, 2, 3, 40}

In [66]:
ts.add(50)
ts

{20, 40, 50, 'World'}

In [67]:
ts.copy()

{20, 40, 50, 'World'}

In [20]:
ts.difference(ts1)
# returns the value present in 1st set but not in 2nd set

{20, 'World'}

In [78]:
ts.difference_update(ts1)
ts

{20, 50, 'World'}

In [80]:
ts.discard("World")
ts

{20, 50}

In [83]:
ts

{20, 40, 'World'}

In [ ]:
ts.intersection(ts1)

{40}

In [21]:
# Intersection: Elements present in both sets

In [86]:
ts.intersection_update(ts1)
ts1

{1, 2, 3, 40}

In [ ]:
# Intersection_update: Keeps only comman elements in set and remove all other elements from the original set

In [87]:
ts.isdisjoint(ts1)

False

In [23]:
# isdisjoint: returns true if elements have common elements and false if elements do not have any common element

In [88]:
ts.issubset(ts1)

True

In [24]:
# issubset: need to have all elements of 1st set into 2nd

In [89]:
ts.issuperset(ts1)

False

In [25]:
# issuperset: needs to have all elements of 2nd set into 1st

In [176]:
ts.pop()

40

In [177]:
ts.symmetric_difference(ts1)

{1, 2, 20, 3, 40, 'World'}

In [26]:
# removes common elements from sets and returns remaining elements

In [178]:
ts.symmetric_difference_update(ts1)
ts

{1, 2, 20, 3, 40, 'World'}

In [27]:
# returns remaining values in 1st set

In [179]:
ts.union(ts1)

{1, 2, 20, 3, 40, 'World'}

In [183]:
ts.update()
ts

{1, 2, 20, 3, 40, 'World'}

Dictionary Operations

In [125]:
Dict = {"Name":"Aditi", "Age":22, "Sub":"Maths"}
Dict

{'Name': 'Aditi', 'Age': 22, 'Sub': 'Maths'}

In [ ]:
Dict.copy()

{'Name': 'Aditi', 'Age': 22, 'Sub': 'Maths'}

In [ ]:
Dict.fromkeys(Dict)

{'Name': None, 'Age': None, 'Sub': None}

In [ ]:
Dict.get("Name")

'Aditi'

In [ ]:
Dict.items()

dict_items([('Name', 'Aditi'), ('Age', 22), ('Sub', 'Maths')])

In [ ]:
Dict.keys()

dict_keys(['Name', 'Age', 'Sub'])

In [ ]:
Dict.pop("Name")

'Aditi'

In [ ]:
Dict.popitem()

('Sub', 'Maths')

In [124]:
Dict

{'Name': 'Aditi', 'Age': 22}

In [126]:
Dict

{'Name': 'Aditi', 'Age': 22, 'Sub': 'Maths'}

In [130]:
Dict.setdefault("Key","None")# returns the default value written in the paranthesis if key inserted is not in dictionary

'None'

In [131]:
Dict.values()

dict_values(['Aditi', 22, 'Maths', 'None'])

String Operations

In [132]:
Name = "Aditi"

In [133]:
type(Name)

str

In [134]:
Name.capitalize()

'Aditi'

In [140]:
Name.center(20)

'       Aditi        '

In [144]:
Name.count("i")

2

In [148]:
print(Name.endswith("A"))
Name.endswith("i")

False

True

In [158]:
print(Name.find("i"))
Name.find("b")

2

-1

In [165]:
Name.index("i")

2

In [166]:
Name.islower()

False

In [167]:
Name.isnumeric()

False

In [168]:
Name.isupper()

False

In [169]:
Name.replace("i","j")

'Adjtj'

In [170]:
Name.upper()

'ADITI'

In [1]:
# Shallow Copy: It copy only the elements from the list.
# Deep Copy: It also copy characteristics from the list.