# Basic List Operations

1. Create a list of 5 numbers and add a new number to the end.

In [2]:
lst = [1,2,3,4,5]
lst.append(6)
lst

[1, 2, 3, 4, 5, 6]

2. Make a list of fruits and insert a fruit at the second position.

In [5]:
fruits = ["Apple", "Orange", "Banana"]
fruits.insert(1,"Mango")
fruits

['Apple', 'Mango', 'Orange', 'Banana']

3. Create a list of names and remove one name from the list.

In [6]:
Names = ["Aditi","Tanmayee", "Priyanka"]
Names.remove("Priyanka")
Names

['Aditi', 'Tanmayee']

4. Create a list of 4 items and change the value at index 2.

In [7]:
items = ["Apple", "Banana", "Grapes"]
items[2]="Mango"
items

['Apple', 'Banana', 'Mango']

5. Make a list of numbers and print only the first three elements.

In [10]:
Num = [1,2,3,4,5,6]
Num[0:2]
Num

[1, 2, 3, 4, 5, 6]

6. Create a list of colors and find the index of a specific color.

In [14]:
Color = ["Pink", "Red", "Blue", "Yellow"]
print(Color.index("Red"))

1

7. Create a list of 10 numbers and print how many times “5” appears.

In [15]:
Num1 = [1,2,3,4,5,2,6,3,8,5,9,5]
Num1.count(5)

3

8. Make a list of 6 items and delete the item at index 3.

In [16]:
Num2 = [20,40,50,30,60]
Num2[3]

30

9. Create a list of animals and add three more animals using extend().

In [18]:
Animals = ["Lion","Tiger", "Cat"]
Animal = ["Cow", "Rabbit", "Sheep"]
Animals.extend(Animal)
Animals

['Lion', 'Tiger', 'Cat', 'Cow', 'Rabbit', 'Sheep']

10. Create a list and remove the last item using pop().

In [19]:
No = [1,3,2,5,4,6,5,7,6,8,6]
No.pop()

6

11. Create a list of prices and sort them in ascending order.

In [21]:
Price = [20000, 10000, 40000, 30000,90000]
Price.sort()
Price

[10000, 20000, 30000, 40000, 90000]

12. Make a list of countries and reverse the order of the list.

In [23]:
Country = ["India", "Japan", "Nepal", "China"]
Country.reverse()
Country

['China', 'Nepal', 'Japan', 'India']

13. Create a list of words and check if “apple” is in the list.

In [24]:
fruits1 = ["Apple", "Orange", "Banana"]
"Apple" in fruits

True

14. Create a list of numbers and print the largest and smallest number.

In [26]:
num = [1,2,3,4,5,6]
print(min(num))
print(max(num))

1
6

15. Make a list of 5 items and print each item using a loop.

In [33]:
items1 = ["Apple", "Banana", "Grapes", "Orange", "Strawberry"]
for i in items1:
    print(i)

Apple
Banana
Grapes
Orange
Strawberry

16. Create two lists and combine them into one list.

In [35]:
Animals = ["Lion","Tiger", "Cat"]
Animal = ["Cow", "Rabbit", "Sheep"]
Animals.extend(Animal)
Animals

['Lion', 'Tiger', 'Cat', 'Cow', 'Rabbit', 'Sheep']

17. Make a list and replace the last item with a new value.

In [38]:
ls2 = [2,1,4,3,6,8,4]
ls2[-1] = 3
ls2

[2, 1, 4, 3, 6, 8, 3]

18. Create a list of numbers and print only the even numbers.

In [39]:
ls3 = [1,2,3,4,5,6,7,8,9]
for i in ls3:
    if i%2==0:
        print(i)

2
4
6
8

19. Create a list and clear all items from the list.

In [41]:
ls1 = [50,40,90,30,20,10]
ls1.clear()
ls1

[]

20. Create a list of 5 values and copy it into another list.

In [ ]:
ls1 = [50,40,90,30,20]
ls2 =ls1.copy()
ls2

[50, 40, 90, 30, 20]