### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [3]:
Data = {"name": "Aditi", "Age":"22", "City": "Sangamner"}
Data

{'name': 'Aditi', 'Age': '22', 'City': 'Sangamner'}

### 2. Create a dictionary and print the value of a specific key.

In [4]:
Data = {"name": "Aditi", "Age":"22", "City": "Sangamner"}
Data.get("name")

'Aditi'

### 3. Create a list of 5 numbers and print the second element.

In [5]:
Numb=[1,2,3,4,5]
Numb[1]

2

### 4. Add an element "banana" to an existing list.

In [7]:
fruits = ["Apple","Orange","Papaya"]
fruits.append("Banana")
fruits

['Apple', 'Orange', 'Papaya', 'Banana']

### 5. Insert "apple" at index 2 in a list.

In [8]:
fruits = ["Banana","Orange","Papaya"]
fruits.insert(2,"Apple")
fruits

['Banana', 'Orange', 'Apple', 'Papaya']

### 6. Remove the element 10 from a list.

In [10]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst.remove(10)
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 7. Create a tuple with 4 elements and print the last one.

In [12]:
tup = (1,3,2,5)
tup[-1]

5

### 8. Convert a tuple into a list.

In [15]:
tup = (1,3,2,5)
lst =list(tup)
print(lst)
type(lst)

[1, 3, 2, 5]

list

### 9. Find the length of a given tuple.

In [16]:
tup = (1,3,2,5)
len(tup)

4

### 10. Store 5 student names in a list and print them using a loop.

In [ ]:
lst =["Aditi", "Tanmayee", "Ruchi", "Aradhya", "Aakanksha"]
for i in lst:
    print(i)

Aditi
Tanmayee
Ruchi
Aradhya
Aakanksha

### 11. Create two lists and concatenate them.

In [19]:
lst = [1,2,3,4,5]
lst1 =["Aditi", "Tanmayee", "Ruchi"]
lst3 = lst+lst1
lst3

[1, 2, 3, 4, 5, 'Aditi', 'Tanmayee', 'Ruchi']

### 12. Reverse a list without using reverse().

In [20]:
lst = [1,2,3,4,5]
lst[::-1]

[5, 4, 3, 2, 1]

### 13. Sort a list in descending order.

In [24]:
lst = [1,2,3,4,5]
lst.sort(reverse=True)
lst

[5, 4, 3, 2, 1]

### 14. Create a set with 5 numbers and add a new number.

In [26]:
st = {1,2,3,4,5}
st.add(6)
st

{1, 2, 3, 4, 5, 6}

### 15. Remove an element from a set using discard().

In [28]:
st = {1,2,3,4,5}
st.discard(5)
st

{1, 2, 3, 4}

### 16. Find the union of two sets.

In [29]:
st = {1,2,3,4,5}
st1 = {20,30,40,50}
st.union(st1)

{1, 2, 3, 4, 5, 20, 30, 40, 50}

### 17. Find the intersection of two sets.

In [31]:
st = {1,2,3,30,4,5}
st1 = {2,20,30,40,50}
st.intersection(st1)

{2, 30}

### 18. Check if a value exists in a set.

In [32]:
st = {1,2,3,30,4,5}
3 in st

True

### 19. Create a set and clear all elements.

In [34]:
st = {1,2,3,30,4,5}
st.clear()
st

set()

### 20. Convert a list with duplicate values into a set.

In [37]:
lst = [1,7,2,3,4,5,2,4,6,7]
st = set(lst)
st

{1, 2, 3, 4, 5, 6, 7}

### 21. Create a dictionary and update the value of a key.

In [ ]:
Data = {"name": "Aditi", "Age":"22", "City": "Sangamner"}
Data["name"]="Ruchi"
Data

{'name': 'Ruchi', 'Age': '22', 'City': 'Sangamner'}

### 22. Delete a key-value pair from a dictionary.

In [39]:
Data = {"name": "Aditi", "Age":"22", "City": "Sangamner"}
Data.popitem()

('City', 'Sangamner')

### 23. Print all keys of a dictionary.

In [40]:
Data = {"name": "Aditi", "Age":"22", "City": "Sangamner"}
Data.keys()

dict_keys(['name', 'Age', 'City'])

### 24. Print all values of a dictionary.

In [41]:
Data = {"name": "Aditi", "Age":"22", "City": "Sangamner"}
Data.values()

dict_values(['Aditi', '22', 'Sangamner'])

### 25. Loop through a dictionary and print key and value.

In [46]:
Data = {"name": "Aditi", "Age":"22", "City": "Sangamner"}
for i,j in Data.items():
    print(i,":",j)

name : Aditi
Age : 22
City : Sangamner

### 26. Create a list of numbers and print only even numbers.

In [47]:
ls3 = [1,2,3,4,5,6,7,8,9]
for i in ls3:
    if i%2==0:
        print(i)

2
4
6
8

### 27. Create a tuple and unpack it into 3 variables.

In [49]:
tup = (1,2,3)
a=tup[0]
b=tup[1]
c=tup[2]
print(a,b,c)

1 2 3

### 28. Check if a number is greater than 10 using a comparison operator.

In [51]:
num = 11
if num>10:
    print("True")
else:
    print(False)

True

### 29. Use the in operator to check if "python" exists in a list.

In [52]:
lan =["Python", "Java","C","C++"]
"Python" in lan

True

### 30. Use the and operator in a condition.

In [54]:
age = 18
marks =90
if age>18 and marks>80:
    print("Eligible")
else:
    print("Not Eligible")

Not Eligible

### 31. Use the % operator to check if a number is divisible by 5.

In [55]:
num =50
if num%5==0:
    print("Divisible")
else:
    print("Not Divisible")

Divisible

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [59]:
num =2**5
print(num)

32

### 33. Create two numbers and compare them using >=.

In [63]:
a = 10
b = 20
if a>=b:
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

### 34. Create a list and remove the last element using pop().

In [64]:
lst =[1,3,2,4,5,6,7,8]
lst.pop()

8

### 35. Create a list and print its first and last elements.

In [66]:
lst = [1,2,3,4,5,6,7,8,9]
print(lst[1])
lst[-1]

2

9

### 36. Count how many times "apple" appears in a list.

In [67]:
fruits =["Apple", "Banana","Orange","Apple"]
fruits.count("Apple")

2

### 37. Create a tuple and check if a value exists using in.

In [68]:
tup=(1,2,3,4,5,6)
3 in tup

True

### 38. Convert a dictionaryâ€™s keys into a list.

In [70]:
Data = {"name": "Aditi", "Age":"22", "City": "Sangamner"}
Data1 =list(Data)
Data1

['name', 'Age', 'City']

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [73]:
Dict = {"name":"Aditi","marks":{"maths":90,"science":85,"English":89},"subjects":["maths","science","English"]}
Dict

{'name': 'Aditi',
 'marks': {'maths': 90, 'science': 85, 'English': 89},
 'subjects': ['maths', 'science', 'English']}

### 40. Merge two dictionaries into one.

In [79]:
Data = {"name": "Aditi", "Age":"22", "City": "Sangamner"}
Dict = {"name":"Aditi","marks":90,"subjects":"Maths"}
Data.update(Dict)
Data

{'name': 'Aditi',
 'Age': '22',
 'City': 'Sangamner',
 'marks': 90,
 'subjects': 'Maths'}

### 41. Create a set and print the number of elements.

In [82]:
st ={1,2,3,4,5,6}
len(st)

6

### 42. Create a dictionary and print all items using items().

In [83]:
Data = {"name": "Aditi", "Age":"22", "City": "Sangamner"}
Data.items()

dict_items([('name', 'Aditi'), ('Age', '22'), ('City', 'Sangamner')])

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [84]:
lst = [1,2,3,4,5,6,7,8,9,10]
for i in lst:
    print(i**2)

1
4
9
16
25
36
49
64
81
100

### 44. Multiply two numbers and print the result using *.

In [85]:
a=10
b=5
print(a*b)

50

### 45. Divide two numbers and print the results using / and //.

In [88]:
a=10
b=5
print(a//b)
print(a/b)

2
2.0

### 46. Create a list and replace the element at index 1.

In [89]:
lst =[1,2,3,4,5,6,7,8,9]
lst[1]

2

### 47. Create a tuple from user input (3 values).

In [90]:
a = input("Enter value of a:")
b = input("Enter value of b:")
c = input("Enter value of c:")
tup =(a,b,c)
tup

('2', '3', '4')

### 48. Create a set from a string and print all unique characters.

In [94]:
string ="Aditi"
st = set(string)
st

{'A', 'd', 'i', 't'}

### 49. Use the is operator to compare two variables.

In [96]:
a =10
b=1
a is b

False

### 50. Create a dictionary and check if a key exists using in.

In [98]:
Data = {"name": "Aditi", "Age":"22", "City": "Sangamner"}
"name" in Data

True

### 51. Write a program to check if a number is between 10 and 50 using and.

In [101]:
a =30
if a>= 10 and a<=50:
    print("Yes")
else:
    print("No")

Yes

### 52. Check if a number is less than 5 or greater than 20 using or.

In [105]:
a =2
if a< 5 or a>20:
    print("Yes")
else:
    print("No")

Yes

### 53. Use not to check if a list is not empty.

In [108]:
lst =[1,2,3,4,5,6,7]
if not lst ==[]:
    print("List is not empty")
else:
    print("List is empty")

List is not empty

### 54. Write code to check if a character is a vowel using or.

In [116]:
char = "d"
if char =="a" or char =="e" or char =="i" or char=="o" or char=="u":
    print("Vowel")
else:
    print("Not vowel")

Not vowel

### 55. Check if a dictionary has both keys "name" and "age".

In [121]:
Data = {"name": "Aditi", "Age":"22", "City": "Sangamner"}
"name" and "Age" in Data

True

### 56. Verify if a set contains either 10 or 20.

In [128]:
st ={1,2,3,20, 40,10}
if 10 in st or 20 in st:
    print("True")
else:
    print("False")

True

### 57. Use not to check if a number is not equal to 100.

In [131]:
num =100
if not num ==100:
    print("Number is not equal to 100")
else:
    print("Number is equal to 100")

Number is equal to 100

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [133]:
marks = 39
attendance = 80
if marks > 35 and attendance >75:
    print("Pass")
else:
    print("Fail")

Pass

### 59. Use logical operators to check if a number is positive and even.

In [140]:
num = 22
if num > 0 and num%2==0:
    print("Positive and Even")
else:
    print("Not Positive nor Even")

Positive and Even

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [145]:
tup = (1,2,3,4,5)
if len(tup)>3 or 0 in tup:
    print("yes")
else:
    print("no")

yes