# Basic Dictionay Operations

1. Create a dictionary with 3 key-value pairs (name, age, city).

In [3]:
dict = {"name":"Aditi", "age":"22","city":"Sangamner"}
dict

{'name': 'Aditi', 'age': '22', 'city': 'Sangamner'}

2. Create a dictionary and print the value of a specific key.

In [11]:
dict = {"name":"Aditi", "age":"22","city":"Sangamner"}
print(dict.get("name"))
dict["name"]

Aditi

'Aditi'

3. Make a dictionary and add a new key-value pair to it.

In [15]:
dict = {"name":"Aditi", "age":"22","city":"Sangamner"}
dict["Marks"]=80
dict

{'name': 'Aditi', 'age': '22', 'city': 'Sangamner', 'Marks': 80}

4. Create a dictionary and change the value of an existing key.

In [18]:
dict = {"name":"Aditi", "age":"22","city":"Sangamner"}
dict["name"]="Tanmayee"
dict

{'name': 'Tanmayee', 'age': '22', 'city': 'Sangamner'}

5. Create a dictionary and remove one key using pop().

In [ ]:
dict = {"name":"Aditi", "age":"22","city":"Sangamner", "marks":80}
dict.pop("marks")

80

6. Create a dictionary and remove the last inserted item using popitem().

In [22]:
dict = {"name":"Aditi", "age":"22","city":"Sangamner", "marks":80}
dict.popitem()

('marks', 80)

7. Create a dictionary and print all the keys.

In [27]:
dict = {"name":"Aditi", "age":"22","city":"Sangamner", "marks":80}
dict.keys()

dict_keys(['name', 'age', 'city', 'marks'])

8. Create a dictionary and print all the values.

In [28]:
dict = {"name":"Aditi", "age":"22","city":"Sangamner", "marks":80}
dict.values()

dict_values(['Aditi', '22', 'Sangamner', 80])

9. Create a dictionary and print all the key-value items.

In [29]:
dict = {"name":"Aditi", "age":"22","city":"Sangamner", "marks":80}
dict.items()

dict_items([('name', 'Aditi'), ('age', '22'), ('city', 'Sangamner'), ('marks', 80)])

10. Make a dictionary and check the number of items using len().

In [30]:
dict = {"name":"Aditi", "age":"22","city":"Sangamner", "marks":80}
dict.__len__()

4

11. Create a dictionary and check if a certain key exists (using "key" in dict).

In [31]:
dict = {"name":"Aditi", "age":"22","city":"Sangamner", "marks":80}
"name" in dict

True

12. Create an empty dictionary and add two key-value pairs one by one.

In [36]:
dict1 ={}
dict1["name"]="Rutuja"
dict1["Age"]=21
dict1

{'name': 'Rutuja', 'Age': 21}

13. Create a dictionary and update one keyâ€™s value using update().

In [38]:
dict = {"name":"Aditi", "age":"22","city":"Sangamner", "marks":80}
dict.update(dict1)
dict

{'name': 'Rutuja', 'age': '22', 'city': 'Sangamner', 'marks': 80, 'Age': 21}

14. Create two dictionaries and combine them using update().

In [40]:
dict = {"name":"Aditi", "age":"22","city":"Sangamner", "marks":80}
dict2 = {"Lang":"English"}
dict.update(dict2)
dict

{'name': 'Aditi',
 'age': '22',
 'city': 'Sangamner',
 'marks': 80,
 'Lang': 'English'}

15. Make a dictionary and get the value of a key using get().

In [41]:
dict = {"name":"Aditi", "age":"22","city":"Sangamner", "marks":80}
dict.get("name")

'Aditi'

16. Create a dictionary and print its type using type().

In [42]:
dict = {"name":"Aditi", "age":"22","city":"Sangamner", "marks":80}
type(dict)

dict

17. Create a dictionary and replace one value with a new one.

In [44]:
dict = {"name":"Aditi", "age":"22","city":"Sangamner", "marks":80}
dict["marks"]=90
dict

{'name': 'Aditi', 'age': '22', 'city': 'Sangamner', 'marks': 90}

18. Create a dictionary and clear all items using clear().

In [46]:
dict = {"name":"Aditi", "age":"22","city":"Sangamner", "marks":80}
dict.clear()
dict

{}

19. Create a dictionary with numbers as keys and names as values. Print the dictionary.

In [47]:
dict = {1:"Apple",2:"Banana",3:"Mango"}
dict

{1: 'Apple', 2: 'Banana', 3: 'Mango'}

20. Create a dictionary and copy it into a new dictionary using copy().

In [50]:
dict3 = {1:"Apple",2:"Banana",3:"Mango"}
dict4=dict3.copy()
dict4

{1: 'Apple', 2: 'Banana', 3: 'Mango'}